.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #252525;
  zoom: 0 !important;
}

.display {
  width: 300px;
  height: 300px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  letter-spacing: 2px;
  font-weight: bolder;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.goal_input{
  margin: 15px;
  padding: 5px;
  font-size: 15px !important;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

.display:hover {
  background-color: rgb(255, 255, 255);
}

.lg-display {
  display: none;
}

.resetbox {
  border: none;
  padding: 7px 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.digit-1 {
  color: rgb(2, 167, 2);
}

.digit-2 {
  color: rgb(1, 132, 1);
}

.digit-3 {
  color: rgb(0, 96, 0);
}

@media (min-width: 801px) {
  .container {
    display: none;
  }
  .lg-display {
    display: block;
  }
}

